<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th colspan="3"></th>
        </tr>
    </thead>


    <tbody>
        <% items.each do |item| %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.price %></td>
            </tr>
        <%end%>
    </tbody>
    <a href="./add_item">Add New Item</a>
</table>